
@{
    ViewBag.Title = "Administrar";
}

<h2>Administrar</h2>

<p>@Html.ActionLink("Editar Marcas", "Index", "Marcas")</p>
<p>@Html.ActionLink("Editar Categorias", "Index", "CatVehiculos")</p>
<p>@Html.ActionLink("Editar Vehiculos", "Index", "Vehiculos")</p>
<p>@Html.ActionLink("Editar Sucursales", "Index", "Sucursales")</p>
<p>@Html.ActionLink("Editar Clientes", "Index", "Clientes")</p>
<p>@Html.ActionLink("Editar Información de Empresa", "Index", "Empresa")</p>
<p>@Html.ActionLink("Editar Tarifas", "Index", "Tarifario")</p>
<p>@Html.ActionLink("Administrar Facturas", "Index", "Facturas")</p>


