@model IEnumerable<RentCar_1.Models.Vehiculos>

@{
    ViewBag.Title = "Vehiculos";
}

<h2>Seleccionar Vehiculo</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_auto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ruta_imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_vehiculo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.disponible)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_auto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ruta_imagen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_vehiculo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.disponible)
        </td>
        <td>
            @Html.ActionLink("Rentar Vehiculo", "Rentar", new { id=item.id }) <!--Redirige a pagina para pagar-->
        </td>
    </tr>
}

</table>
